//! **************************************************************************
// Written by: Map P.20131013 on Mon Nov 14 14:35:55 2016
//! **************************************************************************

SCHEMATIC START;
COMP "VSync" LOCATE = SITE "P7" LEVEL 1;
COMP "Blue<1>" LOCATE = SITE "T7" LEVEL 1;
COMP "Blue<2>" LOCATE = SITE "R7" LEVEL 1;
COMP "Clock" LOCATE = SITE "V10" LEVEL 1;
COMP "Red<0>" LOCATE = SITE "U7" LEVEL 1;
COMP "Red<1>" LOCATE = SITE "V7" LEVEL 1;
COMP "Green<0>" LOCATE = SITE "P8" LEVEL 1;
COMP "Red<2>" LOCATE = SITE "N7" LEVEL 1;
COMP "SeeSync<0>" LOCATE = SITE "U16" LEVEL 1;
COMP "Green<1>" LOCATE = SITE "T6" LEVEL 1;
COMP "SeeSync<1>" LOCATE = SITE "T11" LEVEL 1;
COMP "Green<2>" LOCATE = SITE "V6" LEVEL 1;
COMP "HSync" LOCATE = SITE "N6" LEVEL 1;
SCHEMATIC END;

