NET "Blue[2]" LOC = R7;
NET "Blue[1]" LOC = T7;
NET "Green[0]" LOC = P8;
NET "Green[1]" LOC = T6;
NET "Green[2]" LOC = V6;
NET "Red[0]" LOC = U7;
NET "Red[1]" LOC = V7;
NET "Red[2]" LOC = N7;
NET "ExternalClock" LOC = V10;
NET "HSync" LOC = N6;
NET "VSync" LOC = P7;
NET "Buttons[0]" LOC = B8;
NET "Buttons[1]" LOC = C9;
NET "Buttons[2]" LOC = D9;
NET "Buttons[3]" LOC = A8;
NET "Buttons[4]" LOC = C4;
NET "Bells[7]" LOC = F2;
NET "Bells[6]" LOC = J6;
NET "Bells[5]" LOC = J7;
NET "Bells[4]" LOC = G1;
NET "Bells[3]" LOC = G3;
NET "Bells[2]" LOC = K6;
NET "Bells[1]" LOC = L7;
NET "Bells[0]" LOC = H3;
NET "Left" LOC = G11;
NET "Right" LOC = F10;
#NET "LEDs[7]" LOC = T11;
#NET "LEDs[6]" LOC = R11;
#NET "LEDs[5]" LOC = N11;
#NET "LEDs[4]" LOC = M11;
#NET "LEDs[3]" LOC = V15;
#NET "LEDs[2]" LOC = U15;
#NET "LEDs[1]" LOC = V16;
#NET "LEDs[0]" LOC = U16;
NET "devLever" LOC = T5;
NET "Segments[7]" LOC = T17;
NET "Segments[6]" LOC = T18;
NET "Segments[5]" LOC = U17;
NET "Segments[4]" LOC = U18;
NET "Segments[3]" LOC = M14;
NET "Segments[2]" LOC = N14;
NET "Segments[1]" LOC = L14;
NET "Segments[0]" LOC = M13;
NET "Digits[3]" LOC = P17;
NET "Digits[2]" LOC = P18;
NET "Digits[1]" LOC = N15;
NET "Digits[0]" LOC = N16;



# PlanAhead Generated IO constraints 
NET "devLever" IOSTANDARD = LVCMOS33;
NET "Bells[7]" IOSTANDARD = LVCMOS33;
NET "Bells[6]" IOSTANDARD = LVCMOS33;
NET "Bells[5]" IOSTANDARD = LVCMOS33;
NET "Bells[4]" IOSTANDARD = LVCMOS33;
NET "Bells[3]" IOSTANDARD = LVCMOS33;
NET "Bells[2]" IOSTANDARD = LVCMOS33;
NET "Bells[1]" IOSTANDARD = LVCMOS33;
NET "Bells[0]" IOSTANDARD = LVCMOS33;
NET "Blue[2]" IOSTANDARD = LVCMOS33;
NET "Blue[1]" IOSTANDARD = LVCMOS33;
NET "Buttons[4]" IOSTANDARD = LVCMOS33;
NET "Buttons[3]" IOSTANDARD = LVCMOS33;
NET "Buttons[2]" IOSTANDARD = LVCMOS33;
NET "Buttons[1]" IOSTANDARD = LVCMOS33;
NET "Buttons[0]" IOSTANDARD = LVCMOS33;
NET "Green[2]" IOSTANDARD = LVCMOS33;
NET "Green[1]" IOSTANDARD = LVCMOS33;
NET "Green[0]" IOSTANDARD = LVCMOS33;
NET "Red[2]" IOSTANDARD = LVCMOS33;
NET "Red[1]" IOSTANDARD = LVCMOS33;
NET "Red[0]" IOSTANDARD = LVCMOS33;
NET "ExternalClock" IOSTANDARD = LVCMOS33;
NET "HSync" IOSTANDARD = LVCMOS33;
NET "Left" IOSTANDARD = LVCMOS33;
NET "Right" IOSTANDARD = LVCMOS33;
NET "VSync" IOSTANDARD = LVCMOS33;
#NET "LEDs[7]" IOSTANDARD = LVCMOS33;
#NET "LEDs[6]" IOSTANDARD = LVCMOS33;
#NET "LEDs[5]" IOSTANDARD = LVCMOS33;
#NET "LEDs[4]" IOSTANDARD = LVCMOS33;
#NET "LEDs[3]" IOSTANDARD = LVCMOS33;
#NET "LEDs[2]" IOSTANDARD = LVCMOS33;
#NET "LEDs[1]" IOSTANDARD = LVCMOS33;
#NET "LEDs[0]" IOSTANDARD = LVCMOS33;
